name: Java CI

on: [push]

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
    - name: Install libsqlite3-dev
      if: matrix.os == 'ubuntu-latest'
      run: sudo apt-get -q install libsqlite3-dev
    - name: Install libsqlite3 dll
      if: matrix.os == 'windows-latest'
      run: vcpkg install sqlite3:x64-windows

    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - uses: actions/checkout@v1

    - name: Build with Maven
      if: matrix.os == 'ubuntu-latest'
      run: mvn -q -B test --file pom.xml

    - name: Build with Maven
      if: matrix.os == 'windows-latest'
      shell: cmd
      run: |
        set PATH=%PATH%;C:\vcpkg\installed\x64-windows\bin\
        mvn -q -B test --file pom.xml
